.add-card-form {
  display: inline-block;
  width: 100%;
}

.cards-light {
  color: grey;
}

.card-name,
.card-number {
  width: 100%;
}

.card-submit {
  display: block;
}

#cvv {
  -webkit-text-security: disc;
}
